h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
}
p {
    text-align: justify;
}
img {
    display: block;
    margin: auto;
}